<!DOCTYPE html>
<html lang="{{ app.getLocale() }}">
<head>
  <!--[if IE ]>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.png">
  <![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Produktsuche{% endblock %}</title>
  <meta name="description" content="{% block description %}Produktsuche{% endblock %}"/>
  <meta property="og:type" content="website"/>
  <meta name="twitter:card" content="website"/>
  <!-- CSRF Token -->
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <link rel="preload" href="{{ mix('js/search.js') }}" as="script">
  <link rel="stylesheet" type="text/css" media="all" href="{{ mix('css/base.css') }}">
  <link rel=manifest href="https://composer.omega-day.com/manifest.json">
  <!--
  <link rel="stylesheet" type="text/css" media="all" href="https://www.abn-electro.com/typo3temp/scriptmerger/compressed/head-92bb14adab4cc2cc8ac3d479e27df2fa.merged.gz.css" />-->
  <base href="/"/>
  <style type="text/css">
    {% block cssStyles %}{% endblock %}
  </style>
  <script>
    {% spaceless %}
    if (typeof window.products !== "object") {
      window.products = {
        domain: '{{ host.scheme }}://{{ host.host }}'{% if stage %},
        stage: true
        {% endif %}};
    }
    {% endspaceless %}
  </script>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function () {
        navigator.serviceWorker.register('/service-worker.js').then(function (registration) {
          // Registration was successful
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function (err) {
          // registration failed :(
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
  </script>
</head>
<body>
{% block content %}{% endblock %}
{% block footer %}

{% endblock %}
{% block javascript %}
<script src="{{ mix('js/manifest.js') }}"></script>
<script src="{{ mix('js/vendor.js') }}"></script>
<script src="{{ mix('js/pages.js') }}"></script>
<script src="{{ mix('js/search.js') }}"></script>

{% endblock %}
{% block marketing %}{% endblock %}
</body>
</html>
