<template>

    <v-card class="d-flex flex-column list-item"
            tile
            style="position: relative"
            :id="'article-' + item.id"
            :loading="loading"
            :elevation="hover ? disableCard ? 0 : 16 : disableCard ? 0 : 1"
            :class="{ 'on-hover': hover }"
            @mouseover="hover = true"
            @mouseout="hover = false"
            height="100%">

      <v-card-text class="py-3" style="position: relative" @mouseover="hover = true">
        <v-img @click="goToProduct(item)" height="150" :src="previewImage" contain style="cursor:pointer;">
          <template v-slot:placeholder>
            <v-row class="fill-height ma-0" align="center" justify="center">
              <v-progress-circular indeterminate color="primary"></v-progress-circular>
            </v-row>
          </template>
        </v-img>

        <template v-if="isPreviewServer">
          <v-tooltip bottom v-if="item.online === true">
            <template v-slot:activator="{ on, attrs }">
              <v-icon class="online-icon" color="success" v-bind="attrs" v-on="on">mdi-checkbox-marked-circle-outline</v-icon>
            </template>
            <span>Online</span>
          </v-tooltip>
          <v-tooltip bottom v-else-if="item.online === false">
            <template v-slot:activator="{ on, attrs }">
              <v-icon class="online-icon" color="error" v-bind="attrs" v-on="on">mdi-close-circle</v-icon>
            </template>
            <span>Nicht Online</span>
          </v-tooltip>
        </template>

      </v-card-text>

      <v-spacer></v-spacer>

      <v-card-text class="pb-0 px-2" @mouseover="hover = true">
        <div v-html="item.articleNumber"></div>
      </v-card-text>
      <v-card-title @click="goToProduct(item)" v-html="item.shortDescription" class="py-0 px-2 text-subtitle-2" style="cursor:pointer;"></v-card-title>

      <v-spacer></v-spacer>

      <hr class="my-2"/>

      <!--
      <v-card-text class="pt-0 pb-0 px-2" @mouseover="hover = true">
        <v-btn text icon @click="onCompareChange()" v-if="!compareSelected" :disabled="compareDisabled">
          <v-icon>mdi-arrange-send-to-back</v-icon>
        </v-btn>
        <v-btn text icon @click="onCompareChange()" :disabled="compareDisabled" v-else>
          <v-icon color="primary">mdi-arrange-send-to-back</v-icon>
        </v-btn>

        <label style="cursor:pointer" :class="{'primary--text': compareSelected}" @click="onCompareChange()">Vergleichen</label>
      </v-card-text>
      -->
      <v-card-text class="pt-0 pb-0 px-2" @mouseover="hover = true">
<!--
        <v-btn text icon @click="onFavoriteChange()" v-if="!favoriteSelected">
          <v-icon>mdi-star-outline</v-icon>
        </v-btn>
        <v-btn text icon @click="onFavoriteChange()" :disabled="compareDisabled" v-else>
          <v-icon color="primary">mdi-star</v-icon>
        </v-btn>

        <label style="cursor:pointer" :class="{'primary--text': favoriteSelected}" @click="onFavoriteChange()">Zu meinen Produkten</label>
-->
        <v-checkbox
          :true-value="true"
          v-model="compareSelected"
          @click="onCompareChange"
          :disabled="compareDisabled"
          hide-details
          label="Vergleichen" class="mt-0 subtitle-1"
        ></v-checkbox>
        <v-checkbox
          :true-value="true"
          v-model="favoriteSelected"
          @click="onFavoriteChange()"
          hide-details
          label="Zu meinen Favoriten" class="mt-0 subtitle-1"
        ></v-checkbox>
      </v-card-text>

      <hr class="my-2"/>

      <v-card-actions @mouseover="hover = true">
        <v-btn color="primary" small block tile @click="dialog = true">
          Dokumente
        </v-btn>
      </v-card-actions>

      <v-overlay absolute :value="dialog"></v-overlay>

      <v-dialog :value="dialog"
                :attach="'#article-' + item.id"
                hide-overlay
                @click:outside="dialog = false"
                @mouseover="hover = true"
                @mouseleave="dialog = false"
                transition="dialog-bottom-transition">
        <v-card tile @mouseover="hover = true">
          <v-toolbar flat dark dense color="primary" @mouseover="hover = true">
            <v-toolbar-title class="subtitle-1">Dokumente</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon small dark @click="dialog = false">
              <v-icon small>mdi-chevron-double-down</v-icon>
            </v-btn>
          </v-toolbar>
          <v-card-text class="pa-0" @mouseover="hover = true">
            <v-btn text block class="text-left" @click="downloadDatasheet()">
              <v-icon left small color="primary">mdi-file-pdf</v-icon> Datenblatt
            </v-btn>
            <v-btn text block class="text-left" :to="item.sketch.path" target="_blank" v-if="item.sketch">
              <v-icon left small color="primary">mdi-file-image</v-icon> Download Skizze
            </v-btn>

            <v-btn text block class="text-left" :to="'/storage/' + item.assemblyInstructions.path" target="_blank" v-if="item.assemblyInstructions">
              <v-icon left small color="primary">mdi-file-pdf</v-icon> Montageanleitung
            </v-btn>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-card>
</template>
<script>
import DatasheetApiService from '@/api/datasheet.api.service'
import compareMixin from '@/mixins/compare.mixins'
import favoriteMixin from '@/mixins/favorite.mixins'
const previewImage = require('@/assets/no-preview.jpg')
export default {
  props: {
    loading: {
      type: Boolean,
      default: true
    },
    item: {
      type: Object,
      required: true
    },
    disableCard: {
      type: Boolean,
      default: false
    }
  },
  mixins: [compareMixin, favoriteMixin],
  computed: {
    isPreviewServer () {
      return this.$store.getters.isPreviewServer
    },
    previewImage () {
      if (this.item.medias.length > 0) {
        let firstImage = this.item.medias.find(x => x.type === 'bestellbild')

        if (!firstImage) {
          firstImage = this.item.medias.find(x => x.type === 'fotorealistika')
        }

        if (!firstImage) {
          firstImage = this.item.medias.find(x => x.type === 'masszeichnung')
        }

        if (firstImage) {
          return '/img/' + firstImage.path + '?w=150&h=150&fit=contain'
        }
      }
      return previewImage
    }
  },
  data () {
    return {
      dialog: false,
      hover: false
    }
  },
  methods: {
    downloadDatasheet () {
      window.open(DatasheetApiService.getApiBasePath(this.item.slug), '_blank')
    },
    goToProduct (item) {
      this.$router.push({
        name: 'detail',
        params: {
          slug: item.slug
        },
        query: {
          backUrl: this.$route.fullPath
        }
      })
    }
  }
}
</script>
<style lang="scss">

  .list-item {
    .v-label {
      font-size: 14px;
      top: 2px;
      color: rgba(0,0,0,.6) !important;
    }
    .online-icon {
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 15px;
      top: auto;
      left: auto;
    }
    .v-dialog {
      margin: 0;
    }
    .v-dialog__content {
      align-items: flex-end;
      position: absolute;
      overflow: hidden;

      .v-btn__content {
        justify-content: flex-start;
      }
    }

    .item-favorites {
      position: absolute;
      top: 21px;
      right: 8px;
      bottom: auto;
      left: auto;
    }

    .item-compare-checkbox {
      position: absolute;
      top: 16px;
      left: 0;
      padding: 3px 10px;
      border-radius: 13px;
      z-index: 2;
      display: inline-block;
      font-size: 12px;

      label {
        display: none !important;
        font-size: 12px;
        margin-top: 1px;
        margin-left: -5px;
      }

      &--hover {
        background-color: #f3f2f2;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 13px !important;
        border-bottom-left-radius: 0;

        label {
          display: block !important;
        }
      }
    }
  }

</style>
