<template>
  <v-card class="d-flex flex-column" :loading="loading" height="100%" @mouseleave="hover = false" @mouseover="hover = true">
    <div class="item-compare-checkbox" :class="{'item-compare-checkbox--hover': hover}">
      <v-checkbox
        :true-value="true"
        v-model="compareSelected"
        @click="onCompareCheckboxInput"
        :disabled="compareDisabled"
        hide-details
        dense
        label="Vergleichen" class="mt-0"
      ></v-checkbox>
    </div>

    <v-card-text class="py-3">
      <v-img @click="goToProduct(item)" height="150" :src="previewImage" contain style="cursor:pointer;">
        <template v-slot:placeholder>
          <v-row class="fill-height ma-0" align="center" justify="center">
            <v-progress-circular
              indeterminate
              color="grey lighten-5"
            ></v-progress-circular>
          </v-row>
        </template>
      </v-img>
    </v-card-text>
    <v-card-text class="pb-0">
      <div v-html="item.articleNumber"></div>
    </v-card-text>
    <v-card-title @click="goToProduct(item)" v-html="item.title" class="py-0 text-subtitle-2" style="cursor:pointer;"></v-card-title>
    <v-card-text>
      <div>EAN Code: <span v-html="item.ean"></span></div>
    </v-card-text>
    <v-spacer></v-spacer>
    <v-card-actions>
      <v-btn color="primary" block tile @click="goToProduct(item)">
        Details
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
const previewImage = require('@/assets/no-preview.jpg')
export default {
  props: {
    loading: {
      type: Boolean,
      default: true
    },
    item: {
      type: Object,
      required: true
    }
  },
  computed: {
    compareSelected: {
      get () {
        return this.$store.getters.compare.find(x => x.id === this.item.id)
      },
      set (val) {
        if (val) {
          this.$store.commit('removeFromCompare', this.item)
        } else {
          this.$store.commit('addToCompare', this.item)
        }
      }
    },
    compareDisabled () {
      return this.$store.getters.compare.length >= this.$store.getters.maxCompareItems && !!this.compareSelected === false
    },
    previewImage () {
      if (this.item.medias.length > 0) {
        const firstImage = this.item.medias.find(x => x.type === 'bestellbild')
        if (firstImage) {
          return '/img/' + firstImage.path + '?w=150&h=150&fit=contain'
        }
      }
      return previewImage
    }
  },
  data () {
    return {
      hover: false
    }
  },
  methods: {
    onCompareCheckboxInput (evt) {
      if (this.compareSelected) {
        this.$store.commit('removeFromCompare', this.item)
      } else {
        if (this.$store.getters.compare.length < this.$store.getters.maxCompareItems) {
          this.$store.commit('addToCompare', this.item)
        }
      }
    },
    goToProduct (item) {
      this.$router.push({
        name: 'detail',
        params: {
          slug: item.slug
        },
        query: {
          backUrl: this.$route.fullPath
        }
      })
    }
  }
}
</script>
<style lang="scss">
  .item-compare-checkbox {
    position: absolute;
    top: 16px;
    left: 0;
    padding: 3px 10px;
    border-radius: 13px;
    z-index: 2;
    display: inline-block;
    font-size: 12px;

    label {
      display: none !important;
      font-size: 12px;
      margin-top: -1px;
      margin-left: -5px;
    }

    &--hover {
      background-color: #f3f2f2;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 13px !important;
      border-bottom-left-radius: 0;
      label {
        display: block !important;
      }
    }
  }
</style>
