<template>
  <v-app-bar app clipped-left elevation="1">
    <v-btn icon class="d-block d-lg-none" v-if="routeName === 'index.index'" @click="drawer = !drawer"><v-icon>mdi-filter-outline</v-icon></v-btn>
    <v-btn icon class="d-block d-lg-none" v-else @click="goBack()"><v-icon>mdi-keyboard-backspace</v-icon></v-btn>

    <!-- :prominent="$vuetify.breakpoint.smAndDown" -->
    <div style="cursor: pointer">
      <v-badge overlap v-if="isPreviewServer"
               content="PREVIEW">
        <v-img :src="brandLogo" contain max-width="120" v-if="routeName === 'index.index'" />
        <v-img :src="brandLogo" contain max-width="120" v-else @click="goBack()"/>
      </v-badge>
      <template v-else>
        <v-img :src="brandLogo" contain max-width="120" v-if="routeName === 'index.index'" />
        <v-img :src="brandLogo" contain max-width="120" v-else @click="goBack()"/>
      </template>
    </div>

    <div class=" mt-2 app-search" v-if="$vuetify.breakpoint.mdAndUp">
      <v-item-group>
        <core-autosuggest></core-autosuggest>
      </v-item-group>
    </div>

    <v-spacer v-if="$vuetify.breakpoint.smAndDown"></v-spacer>

    <v-badge overlap
             :class="{'mr-3': $vuetify.breakpoint.smAndDown }"
             :content="currentCompareCount"
             :value="currentCompareCount > 0">
      <v-btn text
             :small="$vuetify.breakpoint.smAndDown"
             :color="currentCompareCount === 0 ? null : 'primary'"
             :to="{name: 'compare.index', query: { backUrl: $route.fullPath} }"
             :disabled="currentCompareCount === 0">
        <v-icon left>mdi-arrange-send-to-back</v-icon>
        <template v-if="$vuetify.breakpoint.mdAndUp">Vergleichen</template>
      </v-btn>
    </v-badge>

    <v-badge overlap
             :content="currentFavoriteCount"
             :value="currentFavoriteCount > 0">
      <v-btn text
             :small="$vuetify.breakpoint.smAndDown"
             :color="currentFavoriteCount === 0 ? null : 'primary'"
             :to="{name: 'favorites.index', query: { backUrl: $route.fullPath} }"
             :disabled="currentFavoriteCount === 0">
        <v-icon left><template v-if="currentFavoriteCount > 0">mdi-star</template><template v-else>mdi-star-outline</template></v-icon>
        <template v-if="$vuetify.breakpoint.mdAndUp">Favoriten</template>
      </v-btn>
    </v-badge>

    <template v-slot:extension v-if="$vuetify.breakpoint.smAndDown">
      <core-autosuggest></core-autosuggest>
    </template>
  </v-app-bar>
</template>
<script>
import BaseCategoryApiService from '@/api/basecategory.api.service'
const brandLogo = require('@/assets/Brand_Logo_RGB_LifeGreen.png')
export default {
  data () {
    return {
      brandLogo: brandLogo,
      baseCategories: [],
      loading: false,
      selectedBaseCategory: null
    }
  },
  computed: {
    isPreviewServer () {
      return this.$store.getters.isPreviewServer
    },
    routeName () {
      return this.$route.name
    },
    maxCompareItems () {
      return this.$store.getters.maxCompareItems
    },
    currentCompareCount () {
      return this.$store.getters.compare.length
    },
    currentFavoriteCount () {
      return this.$store.getters.favorite.length
    },
    drawer: {
      get () {
        return this.$store.getters.drawer
      },
      set (val) {
        this.$store.commit('setDrawer', val)
      }
    },
    baseCategoryName () {
      if (this.baseCategories && this.baseCategories.length > 0) {
        const cat = this.baseCategories.find((x) => x.slug === this.selectedBaseCategory)
        if (cat) {
          return cat.title
        }
      }
      return false
    }
  },
  mounted () {
    const self = this
    const actualQueryParameters = self.$route.query
    self.searchTerm = actualQueryParameters.term
    self.term = actualQueryParameters.term
    self.selectedBaseCategory = actualQueryParameters.base
    // self.loadBaseCategories()
  },
  methods: {
    goBack () {
      if (this.$route.query.backUrl) {
        this.$router.push(this.$route.query.backUrl)
        return false
      }
      this.$router.go(-1)
      return false
    },
    onBaseCategoryChange (event) {
      this.$nextTick(function () {
        const self = this
        const params = {}
        if (self.selectedBaseCategory) {
          params.base = self.selectedBaseCategory
        }
        self.updateRoute({
          page: 1
        }, params)
      })
    },
    loadBaseCategories () {
      const self = this

      return new Promise((resolve, reject) => {
        BaseCategoryApiService.getList().then((result) => {
          let categories = [{
            id: -1,
            slug: null,
            title: 'Alle'
          }]

          if (result.basecategories && result.basecategories.length > 0) {
            categories = [...categories, ...result.basecategories]
          }
          self.baseCategories = categories
          resolve()
        }).catch((err) => {
          reject(err)
        })
      })
    }
  },
  watch: {
    // Watch for changes in query parameters and update listing
    '$route' () {
      const self = this
      const actualQueryParameters = this.$route.query
      self.searchTerm = actualQueryParameters.term
      self.term = actualQueryParameters.term
      self.selectedBaseCategory = actualQueryParameters.base
    }
  }
}
</script>
<style lang="scss">
  .v-app-bar {
    z-index: 7;
  }
  .app-search {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    .v-input__prepend-outer {
      margin-top: 0;
      margin-right: 0;
    }

    &__input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &__category-selector {
      width: 200px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
</style>
