<template>
  <v-footer elevation="0" app inset padless class="abn-search__list-footer" v-if="currentCompareCount > 0">
    <v-container class="pa-0">
      <v-row>
        <v-col cols="12" class="pa-0">
          <v-bottom-navigation background-color="transparent" height="48">
            <v-spacer></v-spacer>
            <v-btn-toggle>
              <v-btn color="primary" :to="{name: 'compare.index'}" class="px-4 abn-search__list-footer__compare-btn" dark>
                <span class="d-none d-md-block">Produkte vergleichen:</span> <span>{{ currentCompareCount }}/{{ maxCompareItems }}</span>
                <v-icon small color="white" class="d-block d-md-none ml-2">mdi-compare</v-icon>
              </v-btn>
              <v-btn color="primary" class="d-none d-md-block" dark @click="clearCompareList()">
                <v-icon color="white">mdi-delete-variant</v-icon>
              </v-btn>
            </v-btn-toggle>
          </v-bottom-navigation>
        </v-col>
      </v-row>
    </v-container>

  </v-footer>

</template>
<script>
export default {
  name: 'list-compare',
  data () {
    return {}
  },
  computed: {
    maxCompareItems () {
      return this.$store.getters.maxCompareItems
    },
    currentCompareCount () {
      return this.$store.getters.compare.length
    }
  },
  methods: {
    clearCompareList () {
      this.$store.commit('clearCompare')
    }
  }
}
</script>
<style lang="scss">
  .theme--light.v-footer.abn-search__list-footer {
    background-color: transparent;
    padding: 0;

    .abn-search__list-footer__compare-btn {
      min-width: 180px;
      max-width: inherit;
    }

    .v-item-group.v-bottom-navigation {
      box-shadow: inherit;
    }

    .v-item-group.v-bottom-navigation .v-btn .v-btn__content {
      padding-left: 15px;
      padding-right: 15px;
      color: #fff;
      flex-direction: row;
    }
  }

  .compare-widget {
    /*
    //position: fixed;
    right: 0;
    left: auto;
    bottom: 0;
    z-index: -1;
    transform: translateX(0);

    @media screen and (min-width: 980px) {
      right: auto;
      transform: translateX(-100%);
      min-width: 228px;
    }

    &__wrapper {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1000;
    }

    .btn {
      background-color: #f2663b;
      border-color: #f2663b;
      color: #fff;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }*/
  }
</style>
