<template>
  <v-app-bar app clipped-left elevation="1" rounded>
  <v-app-bar-nav-icon class="d-block d-lg-none" @click="drawer = !drawer"></v-app-bar-nav-icon>

  <div class=" mt-2 app-search">
    <v-item-group>
      <v-text-field
        v-model="searchTerm"
        hide-details
        prepend-inner-icon="mdi-magnify"
        placeholder="Suchen"
        class="app-search__input"
        @keydown.enter="executeSearch()"
        type="text">

        <!--
        <template v-slot:prepend>
          <v-select
            dense
            outlined
            hide-details
            :items="baseCategories"
            placeholder="Kategorie"
            v-model="selectedBaseCategory"
            item-text="title"
            item-value="slug"
            class="mt-n2 app-search__category-selector"
            @input="onBaseCategoryChange"
          ></v-select>
        </template>
        -->
        <template v-slot:append>
          <v-fade-transition leave-absolute>
            <v-progress-circular v-if="loading" size="24" color="info" indeterminate></v-progress-circular>
            <v-icon @click="executeSearch()">mdi-keyboard-return</v-icon>
          </v-fade-transition>
        </template>
      </v-text-field>
    </v-item-group>

  </div>

</v-app-bar>
</template>
<script>
import BaseCategoryApiService from '@/api/basecategory.api.service'
import types from '@/utils/types.utils'

export default {
  data () {
    return {
      searchTerm: '',
      baseCategories: [],
      loading: false,
      selectedBaseCategory: null
    }
  },
  computed: {
    drawer: {
      get () {
        return this.$store.getters.drawer
      },
      set (val) {
        this.$store.commit('setDrawer', val)
      }
    },
    baseCategoryName () {
      if (this.baseCategories && this.baseCategories.length > 0) {
        const cat = this.baseCategories.find((x) => x.slug === this.selectedBaseCategory)
        if (cat) {
          return cat.title
        }
      }
      return false
    }
  },
  mounted () {
    const self = this
    const actualQueryParameters = self.$route.query
    self.searchTerm = actualQueryParameters.term
    self.term = actualQueryParameters.term
    self.selectedBaseCategory = actualQueryParameters.base
    self.loadBaseCategories()
  },
  methods: {
    updateRoute (customQuery, queryExtension = {}) {
      const self = this
      // Get actual query parameter
      const query = customQuery || this.$route.query
      const routeQuery = this.$route.query
      const newQuery = {
        page: 1
      }
      const route = {
        name: 'index.index',
        params: this.$route.params,
        query: {
          term: query.term || this.term,
          ...newQuery,
          ...queryExtension
        }
      }

      // If query is empty then replace route, otherwise push
      if (types.isEmpty(routeQuery)) {
        self.$router.replace(route)
      } else {
        self.$router.push(route)
      }
    },
    executeSearch () {
      if (this.searchTerm.length === 0) {
        this.searchTerm = undefined
      }
      if (this.term === this.searchTerm) {
        return
      }
      const query = {}
      this.term = this.searchTerm

      if (this.selectedBaseCategory) {
        query.base = this.selectedBaseCategory
      }

      this.updateRoute({
        term: this.term,
        page: 1
      }, query)
    },
    onBaseCategoryChange (event) {
      this.$nextTick(function () {
        const self = this
        const params = {}
        if (self.selectedBaseCategory) {
          params.base = self.selectedBaseCategory
        }
        self.updateRoute({
          page: 1
        }, params)
      })
    },
    loadBaseCategories () {
      const self = this

      return new Promise((resolve, reject) => {
        BaseCategoryApiService.getList().then((result) => {
          let categories = [{
            id: -1,
            slug: null,
            title: 'Alle'
          }]

          if (result.basecategories && result.basecategories.length > 0) {
            categories = [...categories, ...result.basecategories]
          }
          self.baseCategories = categories
          resolve()
        }).catch((err) => {
          reject(err)
        })
      })
    }
  },
  watch: {
    // Watch for changes in query parameters and update listing
    '$route' () {
      const self = this
      const actualQueryParameters = this.$route.query
      self.searchTerm = actualQueryParameters.term
      self.term = actualQueryParameters.term
      self.selectedBaseCategory = actualQueryParameters.base
    }
  }
}
</script>
<style lang="scss">
  .app-search {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    .v-input__prepend-outer {
      margin-top: 0;
      margin-right: 0;
    }

    &__input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &__category-selector {
      width: 200px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
</style>
