<div class="compare-wrap">
  <v-container>
    <v-row style="margin: 3rem 0;">
      <v-col cols="12">
        <h1>Produkte vergleichen</h1>
        <a @click="goBackToResults()" class="back-button" href="javascript:void(0)">
          <small>
            < Zurück zu den Ergebnissen
          </small>
        </a>
      </v-col>
    </v-row>
    <v-row align="center" justify="center" style="min-height: 50vh" v-if="loading">
      <v-col class="text-center">
        <v-progress-circular indeterminate color="primary"></v-progress-circular>
      </v-col>
    </v-row>
    <v-row v-else-if="loading === false && items.length > 0">
      <v-col cols="12">
        <v-simple-table dense>
          <template v-slot:default>
            <thead>
            <!--
            <tr>
              <td></td>
              <td v-for="item in items" :key="item.id">
                <v-img max-width="200" style="margin: 0 auto;" :src="getImagePath(item.firstImage.path)" v-if="item.firstImage" cover></v-img>
                <v-img max-width="200" style="margin: 0 auto;" src="/images/no-preview.jpg" cover v-else></v-img>
              </td>
            </tr>
            <tr>
              <td style="border: 0"></td>
              <td style="border: 0" class="text-center" v-for="item in items" :key="item.id">
                <b v-html="item.title"></b>
                <p class="caption" v-html="item.shortDescription"></p>
                <v-btn color="primary" :to="{name: 'detail', params: { slug: item.slug }}">Details</v-btn>
              </td>
            </tr>
            -->
            <tr>
              <td></td>
              <td v-for="item in items" :key="item.id">
                <list-item :item="item" :loading="false" disable-card></list-item>
              </td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td style="border: 0" :colspan="items.length + 1">
                <h3>Hauptmerkmale</h3>
              </td>
            </tr>
            <tr v-for="(property, propertyIndex) in properties.main.values"
                :key="property.key"
                :class="{'highlighted': differentKeys.indexOf(property.key) > -1}">
              <th class="item-header">
                <div v-html="property.name"></div>
              </th>
              <td v-for="item in items" :key="item.id" v-html="item.properties['main'].values[propertyIndex].value"></td>
            </tr>

            <tr>
              <td :colspan="items.length + 1">
                <h3>Zusatzmerkmale</h3>
              </td>
            </tr>
            <tr v-for="(property, propertyIndex) in properties.additional.values"
                :key="property.key"
                :class="{'highlighted': differentKeys.indexOf(property.key) > -1}">
              <th class="item-header">
                <div v-html="property.name"></div>
              </th>
              <td v-for="item in items" :key="item.id" v-html="item.properties['additional'].values[propertyIndex].value"></td>
            </tr>

            <tr>
              <td :colspan="items.length + 1">
                <h3>Elektrische Daten</h3>
              </td>
            </tr>
            <tr v-for="(property, propertyIndex) in properties.electric.values"
                :key="property.key"
                :class="{'highlighted': differentKeys.indexOf(property.key) > -1}">
              <th class="item-header">
                <div v-html="property.name"></div>
              </th>
              <td v-for="item in items" :key="item.id" v-html="item.properties['electric'].values[propertyIndex].value"></td>
            </tr>

            <tr>
              <td :colspan="items.length + 1">
                <h3>Umgebungsbedingungen</h3>
              </td>
            </tr>
            <tr v-for="(property, propertyIndex) in properties.ambient.values"
                :key="property.key"
                :class="{'highlighted': differentKeys.indexOf(property.key) > -1}">
              <th class="item-header">
                <div v-html="property.name"></div>
              </th>
              <td v-for="item in items" :key="item.id" v-html="item.properties['ambient'].values[propertyIndex].value"></td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col align="center" justify="center" style="min-height: 50vh">
        Keine Produkte zum vergleichen.
      </v-col>
    </v-row>
  </v-container>
</div>
