<template>
  <v-expansion-panels flat multiple v-model="categoryPanels[category.slug]" :key="category.id">
    <v-expansion-panel>
      <v-expansion-panel-header>
        <v-checkbox
          :true-value="true"
          v-model="compSelectedCategories[category.slug]"
          class="mt-0"
          @click="changeCategory(category.slug)"
          hide-details
          dense
          :label="category.title" @click.native="disableClick($event)"/>
      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
<script>
export default {
  props: {
    category: {
      type: Object
    },
    selected: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data () {
  }
}
</script>
