<template>
  <div class="category__tree">
    <template v-for="category in categories">
      <template v-if="category.childs.length > 0">
        <list-category-panel :category="category" v-bind:key="category.id"></list-category-panel>
        <!--
        <v-expansion-panels flat multiple v-model="categoryPanels">
          <v-expansion-panel v-for="(category, i) in categories" :key="i">
            <v-expansion-panel-header>
              <v-checkbox
                :true-value="true"
                v-model="compSelectedCategories[category.slug]"
                class="mt-0"
                @click="changeCategory(category.slug)"
                hide-details
                dense
                :label="category.title" @click.native="check($event)" />
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-checkbox
                class="mt-0"
                v-model="compSelectedCategories[child.slug]"
                @click="changeCategory(child.slug)"
                :true-value="true"
                hide-details
                dense
                v-for="(child, i) in category.childs" :key="child.slug"
                :label="child.title"
              ></v-checkbox>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        -->
      </template>
    </template>
  </div>

</template>
<script>
export default {
  props: {
    categories: {
      type: Array,
      default: () => {
        return []
      }
    },
    selected: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data () {
    return {
      error: '',
      loading: false,
      panels: [0, 1]
    }
  },
  computed: {
    compSelectedCategories () {
      const results = {}
      this.categories.forEach(category => {
        results[category.slug] = this.selected.indexOf(category.slug) > -1
      })
      return results
    },
    categoryPanels () {
      const results = {}
      this.categories.forEach(category => {
        results[category.slug] = [1]
      })
      return results
    }
  },
  methods: {
    disableClick: function (e) {
      e.cancelBubble = true
    }
  }
}
</script>
<style lang="scss">
  .category__tree {
    width: 100%;

    .v-expansion-panel-header label {
      color: rgba(0, 0, 0, 0.87)
    }
  }
</style>
