{% extends './layouts/app.twig' %}

{% set title = action.metaTitle %}
{% set metaDescription = action.metaDescription %}
{% block cssStyles %}{% spaceless %}

{% endspaceless %}{% endblock %}

{% block content %}

<div id="app"></div>

{% endblock %}
