<div class="abn-search__list">
  <v-navigation-drawer clipped v-model="drawer" app width="340">
    <v-list dense>
      <v-list-item>
        <!--
        <list-category-tree :categories="categories" :selected="selectedCategories"></list-category-tree>
        -->
        <v-expansion-panels flat multiple v-model="categoryPanels">
          <v-expansion-panel v-for="(category, i) in categories" :key="i">
            <v-expansion-panel-header>
              <v-checkbox
                  :true-value="true"
                  v-model="compSelectedCategories[category.slug]"
                  class="mt-0"
                  @click="changeCategory(category.slug)"
                  hide-details
                  dense
                  :label="category.title" @click.native="check($event)" />
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-checkbox
                  class="mt-0"
                  v-model="compSelectedCategories[child.slug]"
                  @click="changeCategory(child.slug)"
                  :true-value="true"
                  hide-details
                  dense
                  v-for="(child, i) in category.childs" :key="child.slug"
                  :label="child.title"
              ></v-checkbox>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>

      </v-list-item>

      <v-list-item>

        <v-expansion-panels flat multiple v-model="panels">
          <v-expansion-panel v-for="(filter, i) in filters" :key="i">
            <v-expansion-panel-header>
              {{ filter.label }}
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-checkbox
                  v-model="selectedFilters[filter.slug][option.slug]"
                  @click="onFilterChange(filter.slug, option.slug)"
                  :true-value="true"
                  class="mt-0"
                  hide-details
                  dense
                  v-for="(option, i) in filter.options" :key="option.slug"
                  :label="option.label"
              ></v-checkbox>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>

      </v-list-item>
    </v-list>
  </v-navigation-drawer>
  <v-main>

    <v-container>
      <v-row align="stretch">
        <template v-if="loading">
          <v-col v-for="n in limit" :key="'s' + n" cols="12" sm="6" md="4" lg="3" xl="2">
            <v-skeleton-loader type="image, article"></v-skeleton-loader>
          </v-col>
        </template>
        <template v-else>
          <v-col v-for="(item, index) in items" :key="'item' + item.id" cols="12" sm="6" md="4" lg="3" xl="2">
            <list-item :item="item" :loading="loading"></list-item>
          </v-col>
        </template>

      </v-row>
      <div class="text-center" v-if="maxPage > 0">
        <v-pagination
            @input="onPaginationChange"
            v-model="page"
            :length="maxPage"
            :total-visible="7"
        ></v-pagination>
      </div>

    </v-container>
    <compare-footer></compare-footer>
  </v-main>

</div>

<!--
<div class="container">
  <div class="row">
    <sidebar-wrapper :categories="categories"
                     :filters="filters"
                     :loading="loading"
                     :selected="selected"
                     :selected-categories="selectedCategories"
                     :term="term">
    </sidebar-wrapper>

    <div class="col-xs-12 col-sm-8 col-lg-9" id="page-content-wrapper">

      <div class="search">
        <div class="row" style="margin: 1.5rem 0;">
          <div class="col-xs-6 py-1 mobile-menu-trigger" v-on:click="toggleSidebar">
            <img alt="menu-icon" src="/images/menu.png"><span>FILTER</span>
          </div>
          <div class="col-xs-6 col-md-12 py-1 text-right">
            <span v-html="total"></span> Artikel
          </div>
        </div>
        <div v-if="error === ''">
          <div v-if="items.length === 0 && loading">
            <div class="alert alert-info">Artikel werden geladen</div>
          </div>
          <div class="row flex-wrap">
            <list-item :item="item" :loading="loading" class="col-xs-6 col-sm-6 col-md-4" v-for="item in items"></list-item>
          </div>
          <div v-if="items.length === 0 && loading === false">
            <div class="alert alert-info">Zu Ihren Kriterien wurden keine Artikel gefunden.</div>
          </div>
        </div>
        <ul class="list-unstyled" v-else>
          <li>
            <div class="alert alert-danger" v-html="error"></div>
          </li>
        </ul>
        <div class="mt-3">
          <pagination :limit="limit" :page="page" :total="total" v-on:page-change="onPageChange"></pagination>
        </div>
      </div>
      <list-compare></list-compare>
    </div>

  </div>
</div>
-->
