<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 color-green">
      <h1>Technische Daten</h1>
    </div>
    <div class="col-xs-6">
      <h2 style="padding-top: 0">{{ article.short_description|raw }}</h2><br/>
      <h3 style="padding-top: 0">Artikelnummer: {{ article.article_number|raw }}</h3><br/>
    </div>
  </div>
  <div class="row" style="margin-bottom: 60px;">
    <div class="col-xs-6">
      {% for image in images %}
        {% if image.type == 'bestellbild' %}
          <img src="{{ image.path }}" class="img-responsive" style="width: 80%">
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-xs-6">
      {{ article.long_description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-sm table-condensed table-striped">
        <thead>
        <tr>
          <th colspan="2">Artikelgrunddaten</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Produktmarke</th>
          <td>{{ article.vendor }}</td>
        </tr>
        <tr>
          <th>Produktart</th>
          <td>{{ article.categories[0].title }}</td>
        </tr>
        {# EF000003 Montageart #}
        {% set producttype = '' %}
        {% for attribute in article.attributes %}
          {% if attribute.feature.name == 'EF000003' %}
            {% set producttype = attribute.value %}
          {% endif %}
        {% endfor %}

        {% if producttype %}
          <tr>
            <th>Produkttyp</th>
            <td>{{ producttype }}</td>
          </tr>
        {% endif %}
        <tr>
          <th>Artikelnummer</th>
          <td>{{ article.article_number }}</td>
        </tr>
        <tr>
          <th>Beschreibung</th>
          <td>{{ article.short_description|replace({"<br />":"; "}) }}</td>
        </tr>
        <tr>
          <th>Verfügbarkeit</th>
          <td>-</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-sm table-condensed table-striped">
        <thead>
        <tr>
          <th colspan="2">Hauptmerkmale</th>
        </tr>
        </thead>
        <tbody>
        {% for attribute in article.baseFeatures %}
          <tr>
            <th>{{ attribute.name }}</th>
            <td>{{ attribute.value }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 60px;margin-bottom: 60px;">

      {% for image in images %}
        {% if image.type == 'skizze' or image.type == 'fotorealistika' or image.type == 'masszeichnung' or image.type == 'seitenansicht' %}
        <div class="col-xs-3">

              <img src="{{ image.path }}" class="img-responsive" style="max-width: 800px;max-height:800px;">
        </div>
        {% endif %}
      {% endfor %}

  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-sm table-condensed table-striped">
        <thead>
        <tr>
          <th colspan="2">Zusatzmerkmale</th>
        </tr>
        </thead>
        <tbody>
        {% for attribute in article.additionalFeatures %}
          <tr>
            <th>{{ attribute.name }}</th>
            <td>{{ attribute.value }}</td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-sm table-condensed table-striped">
        <thead>
        <tr>
          <th colspan="2">Elektrische Daten</th>
        </tr>
        </thead>
        <tbody>
        {% for attribute in article.electricFeatures %}
          <tr>
            <th>{{ attribute.name }}</th>
            <td>{{ attribute.value }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-sm table-condensed table-striped">
        <thead>
        <tr>
          <th colspan="2">Umgebungsbedingungen</th>
        </tr>
        </thead>
        <tbody>
        {% for attribute in article.ambientFeatures %}
          <tr>
            <th>{{ attribute.name }}</th>
            <td>{{ attribute.value }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-sm table-condensed table-striped">
        <thead>
        <tr>
          <th colspan="2">Logistikmerkmale</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Verpackungseinheit (VPE)</th>
          <td>{{ article.transport.quantity_min_1 }}</td>
        </tr>
        <tr>
          <th>VPE auf Palette</th>
          <td>{{ article.transport.quantity_max_2 }}</td>
        </tr>
        <tr>
          <th>Verpackungsabmessungen Breite [mm]</th>
          <td>{{ article.transport.width_1 }}</td>
        </tr>
        <tr>
          <th>Verpackungsabmessungen Höhe [mm]</th>
          <td>{{ article.transport.length_1 }}</td>
        </tr>
        <tr>
          <th>Verpackungsabmessungen Tiefe [mm]</th>
          <td>{{ article.transport.depth_1 }}</td>
        </tr>
        <tr>
          <th>Verpackungsgewicht [kg]</th>
          <td>{{ article.transport.weight_1 }}</td>
        </tr>
        <tr>
          <th>EAN Code</th>
          <td>{{ article.ean }}</td>
        </tr>
        <tr>
          <th>Zolltarif Nr.</th>
          <td>???</td>
        </tr>
        <tr>
          <th>EU-RoHS-Richtlinie</th>
          <td>
            {% set rohs = '-' %}
            {% for attribute in article.attributes %}
              {% if attribute.feature.name == 'WF000024' %}
                {% set rohs = attribute.value %}
              {% endif %}
            {% endfor %}
            {{ rohs }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

