<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Produktdatenblätter</title>
  <style type="text/css">
    @font-face {
      font-family: 'Roboto';
      src: url({{ fontPath }}) format("truetype");
      font-weight: normal;
      font-style: normal;
      font-variant: normal;
    }
    {{ inlineCss }}

    html,
    body {
      font-size: 30px;
      font-family: 'Helvetica', sans-serif;
    }
  </style>

</head>
<body>


<header>
  <div class="headline" style="float: left;">Produktdatenblätter</div>
</header>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <b>Haftungsausschluss:</b> Diese Dokumentation dient nicht als Ersatz für die Beurteilung der Eignung oder Verlässlichkeit dieser Produkte für bestimmte Verwendungsbereiche des Benutzers und darf nicht zu diesem Zweck verwendet werden. Irrtümer vorbehalten. <br/><br/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3" style=" text-align: left; height: 100%;">
        <img src="{{ logoImage }}" style="max-width: 300px; margin-top: 30%" class="img-responsive">
      </div>
      <div class="col-xs-9">
            <span class="pagenum-container" style="padding-right: 10px;">
                <h2 style="margin-right: 30px">Produktdatenblätter Stand: {{ "now"|date("d.m.Y") }}
                    <span class="pagenum"></span>
                </h2>
            </span>

      </div>
    </div>
  </div>
</footer>

<div class="preview" style="background: #fff;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" style="height: 90%;">
        <h1 style="text-align: center;">Produktdatenblätter</h1>
      </div>
    </div>
  </div>
</div>
<div class="page-break"></div>
{% for article in articles %}
  <div class="content">
    {% include 'download.article' with { 'article': article.article, images: article.images } %}
  </div>

  {% if loop.last == false %}
  <div class="page-break"></div>
  {% endif %}
{% endfor %}
</body>
</html>
