.abn-search__list {
  .v-expansion-panel--active>.v-expansion-panel-header {
    min-height: auto !important;
  }
  .v-expansion-panel--active+.v-expansion-panel, .v-expansion-panel--active:not(:first-child) {
    margin-top: 0 !important;
  }

  .v-expansion-panel-header {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .v-expansion-panel-content__wrap {
    padding-left: 5px !important;
    padding-right: 0 !important;
  }

  .v-input--selection-controls .v-input__slot>.v-label, .v-input--selection-controls .v-radio>.v-label {
    color:  rgba(0,0,0,.87);
  }

  .v-pagination {
    width: auto;
  }
}
