<div class="abn-search__list">
  <v-navigation-drawer clipped v-model="drawer" app width="340">
    <v-toolbar class="d-block d-lg-none">
      <v-toolbar-title>Filter</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-icon @click="drawer = false">mdi-close</v-icon>
    </v-toolbar>
    <v-list dense>
      <v-list-item v-if="categories.length > 0"><b>Kategorien</b></v-list-item>
      <v-list-item v-for="category in categories" :key="category.slug">
        <v-expansion-panels flat v-model="categoryPanels[category.slug]">
          <v-expansion-panel>
            <v-expansion-panel-header class="py-2">
              <v-checkbox
                  :true-value="true"
                  v-model="compSelectedCategories[category.slug]"
                  class="mt-0"
                  @click="changeCategory(category.slug)"
                  hide-details
                  dense
                  :label="category.title" @click.native="check($event)" />
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-checkbox
                  class="mt-0"
                  v-model="compSelectedCategories[child.slug]"
                  @click="changeCategory(child.slug)"
                  :true-value="true"
                  hide-details
                  dense
                  v-for="(child, i) in category.childs" :key="child.slug"
                  :label="child.title"
              ></v-checkbox>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-list-item>

      <v-list-item v-if="filters.length > 0"><b>Filter</b></v-list-item>
      <v-list-item v-for="filter in filters" :key="filter.slug">
        <v-expansion-panels flat v-model="filterPanels[filter.slug]">
          <v-expansion-panel>
            <v-expansion-panel-header>
              {{ filter.label }}
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-card flat>
                <v-card-text class="pa-0" :style="getPanelStyle(filter)">
                  <template v-for="(option, i) in filter.options" :key="option.slug">
                    <v-checkbox v-if="(isPanelExpanded(filter.slug)) || (isPanelExpanded(filter.slug) === false && i < 5)"
                      v-model="selectedFilters[filter.slug][option.slug]"
                      @click="onFilterChange(filter.slug, option.slug)"
                      :true-value="true"
                      class="mt-0"
                      hide-details
                      dense
                      :label="option.label"
                    ></v-checkbox>
                  </template>

                </v-card-text>
                <v-card-actions  class="pa-0" v-if="filter.options.length > 5 && isPanelExpanded(filter.slug) === false">
                  <v-btn block dense color="secondary" text @click="addToExpandedFilter(filter.slug)">Mehr</v-btn>
                </v-card-actions>
                <v-card-actions class="pa-0" v-if="filter.options.length > 5 && isPanelExpanded(filter.slug)">
                  <v-btn block dense color="secondary" text @click="removeFromExpandedFilter(filter.slug)">Weniger</v-btn>
                </v-card-actions>
              </v-card>

            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>

      </v-list-item>
    </v-list>
  </v-navigation-drawer>
  <v-main>

    <v-container :fluid="$vuetify.breakpoint.lgAndDown">
      <v-row align="center" justify="center">
        <v-col>
          <v-pagination  v-if="maxPage > 1"
                         circle
                         @input="onPaginationChange"
                         v-model="page"
                         :length="maxPage"
                         :total-visible="5"
          ></v-pagination>
          <v-spacer></v-spacer>
        </v-col>
        <v-col class="text-right small">
          <div v-if="!loading">
          {{ paginatedData.start }} - {{ paginatedData.end }} von {{ total }} Produkten
          </div>
        </v-col>
      </v-row>
      <v-row  align="center" justify="center" v-if="loading === false && items.length === 0">
        <v-col cols="12" md="6" class="text-center">
          <h5>Zu Ihrer Anfrage wurden keine Produkte gefunden.</h5>
        </v-col>
      </v-row>
      <v-row align="stretch" v-else>
        <template v-if="loading">
          <v-col v-for="n in limit" :key="'s' + n" cols="6" sm="4" md="3" lg="3" xl="2" class="pa-1 pa-sm-2">
            <v-skeleton-loader type="image, article"></v-skeleton-loader>
          </v-col>
        </template>
        <template v-else>
          <v-col v-for="(item, index) in items" :key="'item' + item.id" cols="6" sm="4" md="3" lg="3" xl="2" class="pa-1 pa-sm-2">
            <list-item :item="item" :loading="loading"></list-item>
          </v-col>
        </template>
      </v-row>

      <v-row>
        <v-col>
          <v-pagination  v-if="maxPage > 1"
                         circle
                         @input="onPaginationChange"
                         v-model="page"
                         :length="maxPage"
                         :total-visible="5"
          ></v-pagination>
        </v-col>
      </v-row>
    </v-container>
    <!--
    <compare-footer></compare-footer>
    -->
  </v-main>

</div>
