<template>
  <div class="abn-search">
    <v-app id="inspire">
      <core-toolbar></core-toolbar>
      <router-view/>

    </v-app>
  </div>
</template>

<script>

export default {
  data () {
    return {}
  },
  computed: {},
  mounted () {
    try {
      this.$store.commit('setIsPreviewServer', window.products.stage === true)
    } catch (e) {}
  },
  methods: {}

}
</script>
<style lang="scss">
  /*
  .abn-search {
    max-width: 1400px;
    margin: 0 auto;
  }
  */
  .v-main {
    // margin-top: 64px;
    margin-bottom: 64px;
  }

  .v-btn__content {
    // text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }

  a:hover, a:focus {
    text-decoration: none
  }
</style>
