<v-main class="details-wrap">

  <v-container>
    <v-row>
      <v-col cols="12">
        <a @click="goBackToResults()" class="back-button" href="javascript:void(0)">
          <small>
            < Zurück zu den Ergebnissen
          </small>
        </a>
      </v-col>
    </v-row>
    <v-row v-if="item">
      <v-col cols="12" sm="6" md="5" lg="4">
        <template v-if="images.length > 0">
          <div class="image-wrapper">
            <image-magnifier :src="image"
                             :zoom-src="image"
                             zoom-height="300"
                             zoom-width="400"></image-magnifier>
          </div>
          <swiper :options="swiperOptions" ref="mySwiper">
            <swiper-slide v-for="(image, index) in images" v-bind:key="index">
              <v-img :src="getThumbImagePath(image.path)" width="120" @click="onClickThumb(image.path)"></v-img>
            </swiper-slide>
          </swiper>
        </template>

        <v-img src="/images/no-preview.jpg" v-else/>
      </v-col>
      <v-col cols="12" sm="6" md="7" lg="8">
        <small>{{ item.article_number }}</small><br/>
        <h1 class="details-title" style="margin-bottom: 2rem;" v-html="item.title"></h1>

        <b class="details-short-description" v-html="item.shortDescription"></b>
        <br/>

        <template v-if="item.ean">
          <br/>
          <b>EAN Code</b><br/>
          {{ item.ean }}
        </template>

        <br/>
        <div class="price">{{ item.price.toFixed(2) }}</div>
      </v-col>
    </v-row>
  </v-container>
  <div style="background-color: #f2663b; height: 40px; display:flex; align-items:center; margin-top: 1rem;" v-if="item">
    <v-container>
      <v-row>
        <v-col cols="12" class="text-center">
          <v-btn text class="ma-2 white--text" @click="downloadDatasheet()">
            <v-icon left>
              mdi-file-pdf
            </v-icon>
            Datenblatt
          </v-btn>

          <v-btn text class="ma-2 white--text" :to="sketch" target="_blank" v-if="sketch">
            <v-icon left>
              mdi-file-pdf
            </v-icon>
            Download Skizze
          </v-btn>

          <v-btn text class="ma-2 white--text" :to="'/storage/' + assemblyInstructions.path" target="_blank" v-if="assemblyInstructions">
            <v-icon left>
              mdi-file-pdf
            </v-icon>
            Montageanleitung
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
  <v-container>
    <v-row v-if="item">
      <v-col cols="12">
        <p v-html="item.longDescription"></p>
      </v-col>
      <v-col cols="12" md="6">
        <template v-if="item.properties.main.values.length > 0">
          <v-card>
            <v-card-title>Hauptmerkmale</v-card-title>
            <v-card-text>
              <v-simple-table dense>
                <template v-slot:default>
                  <tbody>
                  <tr v-for="attribute in item.properties.main.values">
                    <th>{{ attribute.name }}</th>
                    <td>{{ attribute.value }}</td>
                  </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </template>
      </v-col>
      <v-col cols="12" md="6">
        <template v-if="item.properties.additional.values.length > 0">
          <v-card>
            <v-card-title>Zusatzmerkmale</v-card-title>
            <v-card-text>
              <v-simple-table dense>
                <template v-slot:default>
                  <tbody>
                  <tr v-for="attribute in item.properties.additional.values">
                    <th>{{ attribute.name }}</th>
                    <td>{{ attribute.value }}</td>
                  </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>

        </template>

      </v-col>
      <v-col cols="12" md="6">
        <template v-if="item.properties.electric.values.length > 0">
          <v-card>
            <v-card-title>Elektrische Daten</v-card-title>
            <v-card-text>
              <v-simple-table dense>
                <template v-slot:default>
                  <tbody>
                  <tr v-for="attribute in item.properties.electric.values">
                    <th>{{ attribute.name }}</th>
                    <td>{{ attribute.value }}</td>
                  </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </template>
      </v-col>
      <v-col cols="12" md="6">
        <template v-if="item.properties.ambient.values.length > 0">
          <v-card>
            <v-card-title>Umgebungsbedingungen</v-card-title>
            <v-card-text>
              <v-simple-table dense>
                <template v-slot:default>
                  <tbody>
                  <tr v-for="attribute in item.properties.ambient.values">
                    <th>{{ attribute.name }}</th>
                    <td>{{ attribute.value }}</td>
                  </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </template>
      </v-col>
    </v-row>
  </v-container>

</v-main>
