<template>
  <tr>
    <td>
      <v-row align="center" justify="center">
        <v-col class="px-0" style="max-width: 34px">
          <v-checkbox
            :true-value="true"
            v-model="compareSelected"
            @click="onCompareChange"
            :disabled="compareDisabled"
            hide-details
            dense
            class="mt-0"
          ></v-checkbox>
        </v-col>
        <v-col style="max-width: 100px">

          <v-img @click="goToArticle(item)" max-width="100" style="margin: 0 auto;" :src="getImagePath(item.firstImage.path)" v-if="item.firstImage" cover></v-img>
          <v-img @click="goToArticle(item)" max-width="100" style="margin: 0 auto;" src="/images/no-preview.jpg" cover v-else></v-img>
        </v-col>
        <v-col>
          <a href="javascript:void(0)" class="text--black" @click="goToArticle(item)" v-html="item.shortDescription"></a>
        </v-col>
      </v-row>
    </td>
    <td style="width: 150px">
        <v-text-field
          style="max-width: 150px"
          v-model="amount"
          outlined
          dense
          type="number"
          hide-details
          min-value="1"
          @blur="$forceUpdate()"
          append-outer-icon="mdi-plus"
          @click:append-outer="increment"
          prepend-icon="mdi-minus"
          @click:prepend="decrement"></v-text-field>

    </td>
    <td style="width: 50px">
      <v-btn icon @click="remove()"><v-icon>mdi-delete</v-icon></v-btn>
    </td>
  </tr>

</template>
<script>
import compareMixin from '@/mixins/compare.mixins'
import favoriteMixin from '@/mixins/favorite.mixins'
import articleLinkMixin from '@/mixins/articleLink.mixins'
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  computed: {
    amount: {
      get () {
        const item = this.$store.getters.favorite.find(x => x.slug === this.item.slug)
        if (item && item.amount >= 1) {
          return item.amount
        }
        return 1
      },
      set (newVal) {
        if (newVal <= 1) {
          newVal = 1
        }
        this.$store.commit('changeFavoriteAmount', {
          slug: this.item.slug,
          amount: parseInt(newVal)
        })
        this.$forceUpdate()
      }
    }
  },
  mixins: [compareMixin, favoriteMixin, articleLinkMixin],
  methods: {
    remove () {
      this.$store.commit('removeFromFavorite', this.item.slug)
    },
    getImagePath (image) {
      return '/img/' + image + '?w=100&h=100&fit=fill&border=15,ffffff'
    },
    increment () {
      this.amount = parseInt(this.amount, 10) + 1
    },
    decrement () {
      this.amount = parseInt(this.amount, 10) - 1
    }
  }
}
</script>
