<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">About</div>
          <div class="card-body">
            <img class="img-responsive img-fluid" src="/images/wolter-e-marketing-logo-green.png"/>
            created by Stefan Jaeger <br/>
            <a href="https://w-em.com">w-em</a>
          </div>

        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  metaInfo () {
    return {
      title: 'About this app'
    }
  }
}
</script>
