.custom-control-input {
  display: none;
}

.custom-control-input:checked +.custom-control-label:before {
  border: none;
  background: #42b4e6 url("data:image/svg+xml,%3Csvg width='12px' height='9px' viewBox='0 0 12 9' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Compare' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='-US_Added-to-MyProducts' transform='translate(-1049.000000, -924.000000)' stroke-width='2' stroke='%23FAFAFA'%3E%3Cg id='Group-6' transform='translate(1048.000000, 922.000000)'%3E%3Cpolyline id='Check' points='2 6.32434176 5.71118164 9.58081055 12.1137722 3'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 1px 2px;
  outline-color: #42b4e6;
  background-position: 50%;
}
.custom-control-label {
  display: flex;
  cursor: pointer;
  padding: 1px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: flex-start;

  &:before {
    content: "";
    border: 1px solid #9fa0a4;
    height: 14px;
    margin-right: 10px;
    box-sizing: border-box;
    padding-left: 1px;
    display: block;
    margin-top: 3px;
    background-color: #fff;
    min-height: 15px;
    max-height: 15px;
    min-width: 15px;
    width: 15px;
    max-width: 15px;
  }
}
