// Core variables and mixins
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tables";


$green: #47ad40;
$orange: #eb5c30;
$blue: #00b6ed;

html,
body {
  font-size: 30px;
  font-family: 'Helvetica', sans-serif;
}

.color-blue{
  color: $blue;
}

.color-green {
  color: $green;
}

table {
  td, th {
    font-weight: normal;
    text-align: left;
    padding: 12px;
  }

  thead {
    background: #fff;
    color: $green;
    font-size: 40px;
  }

  tbody {

    tr:nth-of-type(odd) {
      background-color: $table-bg-accent;
    }

    th {
      width: 40%;
      font-weight: bold;
    }
    td {
      width: 60%;
      // border: 1px solid blue;
    }
  }
}

.page-break {
  page-break-after: always;
}

@page {
  margin: 200px 150px 400px 150px;
}

.preview {
  height: 100%;
  background: #fff;
  padding: 0;
  margin: -200px -150px 0 -150px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.content {

}

header {
  position: fixed;
  color: $green;
  top: -150px;
  left: 0;
  right: 0;
  background-color: transparent;
  height: 110px;
  border-bottom: 3px solid $green;

  .headline {
    color: $green;
    font-size: 90px;
    // font-family: Roboto;
    // font-weight: 200;
  }
}

footer {
  position: fixed;
  bottom: -450px;
  left: 0;
  right: 0;
  height: 350px;
  text-align: right;
  padding: 20px;

  .pagenum:before {
    content: counter(page);
  }
}

p {
  page-break-after: always;
}

p:last-child {
  page-break-after: never;
}
