<v-main class="details-wrap">

  <v-dialog :value="galery"
            @click:outside="galery = false"
            v-if="item && loading === false && images.length > 0"
            max-width="900px">
    <v-carousel
      continuous
      dark
      show-arrows
      v-model="currentSlideIndex"
      delimiter-icon="mdi-minus">
      <v-carousel-item v-for="(image, index) in images"
                       :key="index"
                       :src="getGaleryImagePath(image.path)">
      </v-carousel-item>
    </v-carousel>
  </v-dialog>
  <v-container>
    <v-row>
      <v-col cols="12">
        <a @click="goBackToResults()" class="back-button" href="javascript:void(0)">
          <small>< Zurück zu den Ergebnissen</small>
        </a>
      </v-col>
    </v-row>
    <template v-if="loading">
      <v-row align="center" justify="center" style="min-height: 50vh">
        <v-col class="text-center">
          <v-progress-circular indeterminate color="primary"></v-progress-circular>
        </v-col>
      </v-row>
    </template>
    <template v-else>
      <v-row v-if="item" class="d-md-none">
        <v-col cols="12">
          <small>{{ item.articleNumber }}</small><br/>
          <h3 class="details-title" v-html="item.shortDescription"></h3>
        </v-col>
      </v-row>
      <v-row v-if="item">
        <v-col cols="12" sm="4" md="4" lg="3" xl="3">
          <v-row>
            <v-col cols="12" class="pt-0">
              <swiper :options="swiperOptions" ref="slider">
                <template v-if="images.length > 0">
                  <swiper-slide v-for="(image, index) in images" v-bind:key="index">
                    <img :src="getImagePath(image.path)" @click="openGalery(index)" style="cursor: pointer; max-width: 100%">
                  </swiper-slide>
                </template>
                <template v-else>
                  <swiper-slide>
                    <v-img :src="previewImage" contain>
                      <template v-slot:placeholder>
                        <v-row class="fill-height ma-0" align="center" justify="center">
                          <v-progress-circular indeterminate></v-progress-circular>
                        </v-row>
                    </v-img>
                  </swiper-slide>
                </template>

              </swiper>
              <!--
              <v-img src="/images/no-preview.jpg" v-else/>
              -->
            </v-col>
            <v-col cols="12" class="py-0" v-if="images.length > 1">
              <swiper :options="thumbSwiperOptions" ref="thumbSlider">
                <swiper-slide v-for="(image, index) in images" v-bind:key="index">
                  <v-img :src="getThumbImagePath(image.path)" contain @click="onClickThumb(index)" style="cursor: pointer">
                    <template v-slot:placeholder>
                      <v-row class="fill-height ma-0" align="center" justify="center">
                        <v-progress-circular
                          indeterminate
                          color="grey lighten-5"
                        ></v-progress-circular>
                      </v-row>
                  </v-img>
                </swiper-slide>
              </swiper>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" sm="8" md="8" lg="9" xl="9">
          <v-row>
            <v-col cols="12" sm="12" md="7" lg="8" xl="8" class="pt-0">

              <small class="d-none d-md-block">{{ item.articleNumber }}</small>
              <h3 class="details-title d-none d-md-block mb-2" v-html="item.shortDescription"></h3>

              <p v-html="item.longDescription"></p>

              <v-row>
                <v-col cols="12" class="text-left pl-0">
                  <v-btn color="primary" class="ma-2 white--text" @click="downloadDatasheet()">
                    <v-icon left>mdi-file-pdf</v-icon> Datenblatt
                  </v-btn>

                  <v-btn color="primary" class="ma-2 white--text" :to="item.sketch.path" target="_blank" v-if="item.sketch">
                    <v-icon left>mdi-file-image</v-icon> Download Skizze
                  </v-btn>

                  <v-btn color="primary" class="ma-2 white--text" :to="'/storage/' + item.assemblyInstructions.path" target="_blank" v-if="item.assemblyInstructions">
                    <v-icon left>mdi-file-pdf</v-icon> Montageanleitung
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" sm="12" md="5" lg="4" xl="4" class="pt-0">
              <v-card>
                <v-card-text v-if="item.ean">
                  <b>EAN: </b>{{ item.ean }}
                </v-card-text>
                <v-card-text>
                  UVP:
                  <span class="price">{{ item.price.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }} &euro;</span>
                </v-card-text>
                <hr class="my-1"/>
                <v-card-actions>
                  <v-checkbox
                    class="mt-0"
                    :true-value="true"
                    v-model="compareSelected"
                    @click="onCompareChange"
                    :disabled="compareDisabled"
                    hide-details
                    dense
                    label="Vergleichen"
                  ></v-checkbox>
                </v-card-actions>
                <v-card-actions>
                  <v-checkbox
                    class="mt-0"
                    :true-value="true"
                    v-model="favoriteSelected"
                    @click="onFavoriteChange()"
                    hide-details
                    dense
                    label="Favorit"
                  ></v-checkbox>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </template>
  </v-container>
  <v-container>
    <v-row v-if="item">
      <v-col cols="12" sm="6" lg="3">
        <template v-if="item.properties.main.values.length > 0">
          <v-card class="details-wrap__card">
            <v-card-title>Hauptmerkmale</v-card-title>
            <v-card-text>
              <v-simple-table dense>
                <template v-slot:default>
                  <tbody>
                  <tr v-for="attribute in item.properties.main.values">
                    <th>{{ attribute.name }}</th>
                    <td>{{ attribute.value }}</td>
                  </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </template>
      </v-col>
      <v-col cols="12" sm="6" lg="3">
        <template v-if="item.properties.additional.values.length > 0">
          <v-card class="details-wrap__card">
            <v-card-title>Zusatzmerkmale</v-card-title>
            <v-card-text>
              <v-simple-table dense>
                <template v-slot:default>
                  <tbody>
                  <tr v-for="attribute in item.properties.additional.values">
                    <th>{{ attribute.name }}</th>
                    <td>{{ attribute.value }}</td>
                  </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>

        </template>

      </v-col>
      <v-col cols="12" sm="6" lg="3">
        <template v-if="item.properties.electric.values.length > 0">
          <v-card class="details-wrap__card">
            <v-card-title>Elektrische Daten</v-card-title>
            <v-card-text>
              <v-simple-table dense>
                <template v-slot:default>
                  <tbody>
                  <tr v-for="attribute in item.properties.electric.values">
                    <th>{{ attribute.name }}</th>
                    <td>{{ attribute.value }}</td>
                  </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </template>
      </v-col>
      <v-col cols="12" sm="6" lg="3">
        <template v-if="item.properties.ambient.values.length > 0">
          <v-card class="details-wrap__card">
            <v-card-title>Umgebungsbedingungen</v-card-title>
            <v-card-text>
              <v-simple-table dense class="h-100">
                <template v-slot:default>
                  <tbody>
                  <tr v-for="attribute in item.properties.ambient.values">
                    <th>{{ attribute.name }}</th>
                    <td>{{ attribute.value }}</td>
                  </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </template>
      </v-col>
    </v-row>
  </v-container>

</v-main>
