.details-wrap {
  &__card {
    height: 100%;
  }
  .container {
    max-width: 1785px !important;
  }
  .table {
    th {
      width: 240px;
      text-align: left;
    }
  }

  .image-wrapper {
    border: 1px solid #ddd;
    margin-bottom: 15px;
  }

  .image-magnifier__img {
    max-width: 100%;
  }

  .swiper-slide {
    .v-image {
      border: 1px solid #ddd;
    }
  }
}

.image-placeholder-big {
  min-height: 500px;
  line-height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  vertical-align: middle;
}

.price {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.details-short-description {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.details-title {
  margin: 0;
}

.specification-table {
  margin-top: 3rem;
}

.specification-table td {
  padding: 0.5rem 1rem;
}
