<div class="favorite-wrap">
  <v-container>
    <v-row style="margin: 3rem 0;">
      <v-col cols="12">
        <h1>Meine Produkte</h1>
        <a @click="goBackToResults()" class="back-button" href="javascript:void(0)">
          <small>
            < Zurück zu den Ergebnissen
          </small>
        </a>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" lg="8" xl="9">
        <v-simple-table dense>
          <template v-slot:default>
            <thead>
            <tr>
              <th>Name</th>
              <th class="text-center">Menge</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              <favorite-item :item="item" v-for="item in items" :key="item.slug"></favorite-item>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
      <v-col cols="12" lg="4" xl="3">
        <v-card>
          <v-card-title>Produktliste</v-card-title>
          <v-card-text>
            <v-btn text block><v-icon>mdi-file-pdf</v-icon> Als PDF herunterladen</v-btn>
          </v-card-text>
          <hr />
          <v-card-title>Produktdatenblätter</v-card-title>
          <v-card-text>
            <v-btn text block @click="downloadDatasheets()"><v-icon>mdi-file-pdf</v-icon> Als PDF herunterladen</v-btn>
          </v-card-text>
          <hr />
          <v-card-text>
            <v-btn text block :to="{name: 'compare.index'}"><v-icon left>mdi-arrange-send-to-back</v-icon> Vergleichen</v-btn>
            <v-btn text block @click="removeAll()"><v-icon left>mdi-delete</v-icon> Alle entfernen</v-btn>
          </v-card-text>
          <hr />
          <v-card-text>
            <b>Artikel gesamt: {{ favorites.length }}</b>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</div>
